/* sacle 100% */
/* :root {
  --colors-bar-height: 330px;
  --colors-bar-width: 100px;
  --color-picker-radius: 30px;

  --column-height: 370px;
  --column-width: 80px;
  --column-item-width: 60px;

  --ball-radius: 55px;
  --hole-radius: 40px;
  --hole-border-radius: 50px;
  --hole-margin: 10px; 

  --small-container-size: 30px;
  --small-hole-radius: 13px;
} */

/* sacle 90% */
:root {
  --colors-bar-height: 297px;
  --colors-bar-width: 90px;
  --color-picker-radius: 27px;

  --column-height: 333px;
  --column-width: 72px;
  --column-item-width: 54px;

  --ball-radius: 50px;
  --hole-radius: 36px;
  --hole-border-radius: 45px;
  --hole-margin: 9px;

  --small-container-size: 27px;
  --small-hole-radius: 12.7px;

  --top-width: 885px;
  --board-width: 885px;
  --lighter-gray: #363636;
  --light-gray: rgb(41, 41, 41);
  --dark-gray: rgb(22, 22, 22);
  --darker-gray: rgb(15, 15, 15);
}

html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: var(--lighter-gray);
}

body {
  font-family: "Montserrat";
  margin: 0px;
  padding: 0px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--lighter-gray);
  min-width: 1060px;
}

h3 {
  font-size: 1.75em;
  color: white;
  margin-bottom: 10px;
  margin-top: 7px;
  padding: 0;
}

.top-container {
  display: flex;
  /* flex: 1 0 auto; */
  justify-content: space-between;
  align-items: flex-start;
  width: var(--top-width);
  padding-top: 3em;
  padding-bottom: 3em;
}

.title-container {
  justify-self: center;
  flex-grow: 0;

  border-radius: 10px;
  width: auto;
  height: 2.4rem;
  line-height: 2.4rem;

  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

.heavy {
  font-weight: bold;
}

.light {
  font-weight: 100;
}

.timer {
  font-family: "Roboto Mono", monospace;
  color: white;

  font-weight: bold;
  text-align: left;

  font-size: 1.5rem;
  line-height: 1.5rem;
  width: 12rem;

  margin-top: 3px;

  flex-grow: 0;
  justify-self: flex-start;
  min-width: 230px;
}

.usernames-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  font-family: "Press Start 2P", cursive;
  color: white;
  font-size: 13px;

  justify-self: flex-end;
  flex-grow: 0;
  min-width: 230px;
}

.username {
  margin-top: 3px;
  margin-bottom: 5px;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.9rem;
  width: var(--board-width);
}

.next-game-countdown {
  color: white;
}

.next-game-countdown .small-font {
  margin: 0;
  padding: 0;
  vertical-align: center;
  line-height: 17px;
  font-size: 17px;
}

.next-game-countdown .large-font {
  margin: 0;
  margin-top: 4px;
  padding: 0;
  vertical-align: center;
  line-height: 30px;
  font-size: 30px;
}

.request-button {
  /* font */
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: light;
  color: white;
  font-size: 0.85rem;

  /* dimensions */
  height: 1.8rem;
  line-height: 1.8rem;
  width: 10rem;

  /* other */
  background: rgba(230, 27, 27, 0.836);
  border-radius: 7px;
  opacity: 0.8;
}

.active {
  cursor: pointer;
}

.request-button:hover {
  opacity: 1;

  /* dimensions */
  height: 1.9rem;
  line-height: 1.9rem;
  width: 10.2rem;
}

.board {
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  width: var(--board-width);
  /* background: var(--back-color); */
}

.colors-bar {
  /* background: #464343; */
  /* background: var(--back-color); */
  height: var(--colors-bar-height);
  width: var(--colors-bar-width);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.color-picker {
  cursor: pointer;
  border-radius: 50%;
  height: var(--color-picker-radius);
  width: var(--color-picker-radius);
  opacity: 0.4;
}

.active-color {
  opacity: 2;
  border-style: solid;
  border-color: gray;
  border-width: medium;
}

.board-column {
  /* background: #464343; */
  height: var(--column-height);
  width: var(--column-width);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.secret {
  margin-left: 10px;
}

#secret-code {
  background-color: #252424;
  border-radius: 15px;
}

.cover-top {
  width: 70px;
  height: 315px;
  border-radius: 10px;
  background: var(--dark-gray);
  justify-self: flex-start;
}

.column-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;

  /* background: #464343; */
  height: var(--column-item-width);
  width: var(--column-item-width);
  display: flex;
}

.hole {
  position: absolute;
  display: inline-block;
  width: var(--hole-radius);
  height: var(--hole-radius);
  margin: var(--hole-margin) var(--hole-margin);
  border-radius: 50%;
}

.active-column-r-CB {
  background-color: #252424;
  border-radius: 15px;
}

.active-column-r-CM {
  background-color: #252424;
  border-radius: 15px;
}

.active-column-r-CB .hole {
  cursor: pointer;
}

.secret-active .hole {
  cursor: pointer;
}

.hole-border {
  display: inline-block;
  width: var(--hole-border-radius);
  height: var(--hole-border-radius);
  border-radius: 50%;
  border-color: rgb(27, 27, 27);
  border-style: solid;
  border: 1px;
}

.shade1 {
  background: radial-gradient(circle at 50% 50%, black 25%, #494040 100%);
}

.shade2 {
  background: #141212;
  z-index: 5;
}

.ball {
  position: absolute;
  z-index: 5;
  display: inline-block;
  width: var(--ball-radius);
  height: var(--ball-radius);
  /*margin: 50px auto 0;*/
  border-radius: 50%;
}

.active-column-r-CB .ball {
  cursor: pointer;
}

.secret-active .ball {
  cursor: pointer;
}

.color-0 {
  background-color: rgb(34, 164, 250);
}

.color-1 {
  background-color: rgb(255, 255, 71);
}

.color-2 {
  background-color: rgb(64, 212, 59);
}

.color-3 {
  background-color: rgb(247, 71, 71);
}

.color-4 {
  background-color: white;
}

.color-5 {
  background-color: black;
}

.b0 {
  background: radial-gradient(
    circle at 50% 43%,
    rgb(34, 164, 250) 20%,
    rgb(54, 54, 54) 95%,
    rgb(76, 179, 248) 95%
  );
}

.b1 {
  background: radial-gradient(
    circle at 50% 43%,
    rgb(253, 253, 28) 20%,
    black 85%,
    rgb(253, 253, 158) 80%
  );
}

.b2 {
  background: radial-gradient(
    circle at 50% 43%,
    rgb(64, 212, 59) 20%,
    black 85%,
    rgb(146, 241, 143) 80%
  );
}

.b3 {
  background: radial-gradient(
    circle at 50% 43%,
    rgb(247, 71, 71) 20%,
    black 90%,
    rgb(248, 116, 116) 80%
  );
}

.b4 {
  background: radial-gradient(
    circle at 50% 43%,
    #e0e0e0 20%,
    black 85%,
    #e0e0e0 80%
  );
}

.b5 {
  background: radial-gradient(
    circle at 50% 43%,
    #2e2c2c 20%,
    black 85%,
    #252424 80%
  );
}

.small-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: var(--small-container-size);
  height: var(--small-container-size);
}

.marble-hole {
  position: relative;
  border-radius: 50%;
  width: var(--small-hole-radius);
  height: var(--small-hole-radius);
  background: rgb(22, 22, 22);
}

.active-column-r-CM .marble-hole {
  cursor: pointer;
}

.disabled {
  cursor: default !important;
}

.marble-picker-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.marble-picker-container .inactive {
  cursor: default;
}

.inactive {
  cursor: default;
}

.marble-picker {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 0px;
  opacity: 0.4;
  cursor: pointer;
}

.red {
  background-color: #fd4040;
}

.white {
  background-color: white;
}

.active-marble-picker {
  opacity: 1;
  border-style: solid;
  border-color: rgb(31, 31, 31);
  border-width: thin;
}

.buttons-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 560px;
  height: 100vh;
  left: 16px;
}

.icon {
  cursor: pointer;
  color: rgb(41, 41, 41);
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.icon:hover {
  color: rgb(26, 26, 26);
  font-size: 40px;
}

/* INFO MESSAGES */
.isa_info,
.isa_success,
.isa_warning,
.isa_error {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  margin: 0px;
  padding: 10px 120px 10px 120px;
  position: absolute;
  top: 0;
  width: auto;
  max-width: 90%;
  text-align: center;
  opacity: 0.5;
}
.isa_info {
  color: #00529b;
  background-color: #bde5f8;
}
.isa_success {
  color: #4f8a10;
  background-color: #dff2bf;
}
.isa_warning {
  color: #9f6000;
  background-color: #feefb3;
}
.isa_error {
  color: #ec444c;
  background-color: #ffd2d2;
}

.isa_info i,
.isa_success i,
.isa_warning i,
.isa_error i {
  margin-right: 15px;
  font-size: 1.7em;
  vertical-align: middle;
}

.close-modal {
  position: absolute;
  top: 13px;
  right: 20px;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modal {
  font-family: sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 30px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;

  background-color: white;
  padding: 3rem 4.5rem 3rem 4.5rem;
  border-radius: 12px;

  /*box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);*/
  z-index: 10;
}

.big-banner-container {
  font-family: sans-serif;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: transparent;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* Use 95% to avoid unnecessary scroollbars */
  width: 95%;
  height: 95vh;
}

.big-banner-container .title {
  z-index: 12;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  z-index: 9;
}

.hidden {
  display: none;
}

.hidden {
  display: none;
}
